.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Replace with your desired color */
}

.navbar-logo img {
    max-height: 50px; /* Adjust as necessary */
}

.navbar-logo .navbar-brand {
    font-size: 1.5em;
    margin-left: 10px;
}

.navbar-center {
    flex-grow: 1;
    text-align: center;
}

.navbar-links a {
    text-decoration: none;
    margin-left: 15px;
    color: #333; /* Replace with your desired color */
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #007bff; /* Replace with your hover color */
}
